* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: system-ui;
}

:root {
  --color-gray-50: #f8f9fa;
  --color-gray-100: #f1f3f5;
}

.grid {
  display: grid;
}

.grid-col-1 {
  grid-template-columns: 1fr;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}
