/* body {
  height: 10
} */

.container {
  /* min-height: 100vh; */
  background-color: #777;
}

:where(.col-1-inner, .col-2-inner) {
  /* height: calc(100vh - 60px); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container-1 {
  background-image: linear-gradient(to right bottom, #66d9e8, #1098ad);
}

.card-container-2 {
  background-image: linear-gradient(to right bottom, #66d9e8, #1098ad);
}

.card {
  --bg-color: rgb(255, 255, 255);

  width: 200px;
  height: 200px;
  background-color: var(--bg-color);
  border-radius: 20px;
  transition: all 0.3s;
}

.card-1 {
  --bg-color: rgb(77, 170, 247);
}

.card-2 {
  --bg-color: rgb(247, 131, 172);
}

.input {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-wrapper :where(label) {
  align-self: flex-start;
  font-size: 2rem;
  color: white;
}

.input-wrapper :where(input) {
  width: 300px;
}

/* card 2 */

.card-2 {
  /* margin-bottom: 10rem; */
}

.card-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

:where(.input-1, .input-2) {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
